{{if eq .laptop "true" -}}
# define monitors
monitor=eDP-1,1920x1080@144,0x0,1
{{- else -}}
# define monitors
monitor=DP-1,1920x1200@60,3840x0,1
monitor=DP-2,1920x1080@60,0x60,1
monitor=DP-3,1920x1080@144,1920x120,1
#monitor=HDMI-A-1,1920x1080@60,5760x0,1
monitor=HDMI-A-1,1920x1080@60,5760x0,1
monitor=HDMI-A-1,disabled
{{- end}}
# New Monitors
monitor=,preferred,auto,1
# workspaces
source = $HYPR_CONFIG/workspaces.conf
